.container{
    width: 344px;
    height: 1344px;
    /* background-color: rgba(16, 16, 198, 0.853); */
    color: white;
    border: 2px solid red;
    /* background-image: url('akshay-kumar.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 250px 250px; */
    /* background-position: center; */
    /* background-attachment: fixed; */
    background: red url('akshay-kumar.jpg') no-repeat scroll top right;
}

/* body{
     height: 344px; 
} 
*/